/* Header */
.contact-header {
  margin-bottom: 40px;
}

.contact-header h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.contact-header p {
  color: #888;
  font-size: 18px;
}

.contact-header p:hover {
  color: gold;
}
/* Wrapper (MAIN FIX) */
.contact-wrapper {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

/* LEFT FORM */
.contact-box {
  flex: 1;
  max-width: 550px;
  background: #141414;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #222;
}

/* Inputs */
.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;

  background: #1a1a1a;
  border: 1px solid #222;
  border-radius: 8px;
  color: white;
  outline: none;
}

.contact-box input:focus,
.contact-box textarea:focus {
  border-color: #facc15;
}

/* Labels */
.contact-box label {
  font-size: 13px;
  color: #aaa;
}

/* Button */
.contact-box button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;

  background: #facc15;
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

.contact-box button:hover {
  background: #eab308;
}

/* RIGHT PANEL */
.contact-side {
  flex: 1;
  max-width: 350px;
  margin-top: 20px;
}

.contact-side h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #facc15;
}

.contact-side p {
  color: #aaa;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* links */
.contact-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-links a {
  color: #facc15;
  text-decoration: none;
  font-size: 14px;
}

.contact-links a:hover {
  color: white;
}

/* CTA BOX */
.cta-box {
  background: #141414;
  border: 1px solid #222;
  border-radius: 15px;
  padding: 25px;
  transition: 0.3s;
}

.cta-box:hover {
  border-color: #facc15;
  box-shadow: 0 10px 30px rgba(250, 204, 21, 0.1);
}

.cta-box h2 {
  color: #facc15;
  margin-bottom: 10px;
}

.cta-box p {
  color: #aaa;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* BUTTONS */
.cta-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cta-buttons a {
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 8px;

  background: #1a1a1a;
  border: 1px solid #222;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.cta-buttons a:hover {
  background: #facc15;
  color: black;
}

@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-side {
    max-width: 100%;
  }
}