/* Header */
.exp-header {
  margin-bottom: 40px;
}

.exp-header h1 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.exp-header p {
  color: #888;
  font-size: 18px;
}

.exp-header p:hover {
  color:gold;
}
/* Timeline */
.timeline {
  position: relative;
  padding-left: 25px;
  border-left: 2px solid #222; /* subtle line */
}

/* Dot */
.timeline-item::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: #facc15; /* accent */
  border-radius: 50%;
}

/* Item */
.timeline-item {
  margin-bottom: 40px;
  position: relative;
}

/* Card */
.timeline-content {
  background: #141414;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #222;
  transition: 0.3s;
}

.timeline-content:hover {
  transform: translateY(-5px);
  border-color: #facc15;
  box-shadow: 0 10px 30px rgba(250, 204, 21, 0.15);
}

/* Text */
.timeline-content h4 {
  margin-bottom: 5px;
  color: white;
}

.time {
  font-size: 0.85rem;
  color: #aaa;
}

.timeline-content p {
  color: #ccc;
  margin-top: 10px;
}

.timeline-content ul {
  padding-left: 18px;
  margin-top: 10px;
}

.timeline-content li {
  font-size: 14px;
  color: #aaa;
}